Requirement run  this tool in windows

1 : pip install requests
2: python -m pip install requests
3: pip install tldextract whois beautifulsoup4 dnspython
4: pip3 install --upgrade python-whois

OR
4: pip install requests tldextract python-whois beautifulsoup4 dnspython
  Run 

 python your_file_path/phishing_detector.py
 Requirement run  this tool in Linux

# Python aur pip install (agar nahi hai)

sudo apt update
sudo apt install python3 python3-pip -y

# Required Python packages install
pip3 install beautifulsoup4 requests tldextract python-whois dnspython

# Run
 python3 your_file_pathphishing_detector.py


